.mint-header {
  z-index: 1000;
  padding: 0 40px;
  height: 90px;
  font-size: 34px;
  color: $main-text-color;
  background-color: $body-color;
  .mint-header-title {
    font-weight: 500;
    margin: 0;
    height: 90px;
    line-height: 90px;
  }
  .mint-header-button {
    color: $main-text-color;
  }
}
