.table-wrap {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  table {
    border-color: $border-color;
    tr{
    }
    th {
      font-size: 30px;
      text-align: center;
    }
    td {
      font-size: 28px;
      text-align: center;
    }
  }

}
