.my-fund-add {
  .strategy-wrap, .edit-type-wrap {
    padding: 20px 30px;
    font-size: 30px;
    button {
      float: right;
      width: auto;
      height: auto;
    }
  }
  .edit-type-wrap {
    border-bottom: 20px solid #eee;
  }
  .position-record {
    border: 10px solid #eee;
    border-bottom: 0;
    &:last-child {
      border-bottom: 10px solid #eee;
    }
  }
  .strategy-list {
    margin: 0;
    padding: 0;
    font-size: 30px;
    .strategy-item {
      display: block;
      margin: 0;
      padding: 20px 30px;
      border-bottom: 1px solid $border-color;
      text-align: center;
    }
  }
  .mint-popup-bottom {
  }
  .content {
    padding: 0 30px;
  }
  .position_record_list {
    padding: 0 10px;
    div {
      padding: 10px;
      border: 10px solid #eee;
      border-bottom: 0;
      font-size: 30px;
      &:last-child {
        border-bottom: 10px solid #eee;
      }
      &.lock{
        color: #fff;
        background-color: $red-color-back-3;
      }
    }
  }
}
