.my-fund {
  .card {
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    .title {
      margin: 0;
      padding: 15px 30px;
      font-size: 28px;
      font-weight: 400;
      background-color: #fff;
      span {
        color: $yellow-color;
      }
    }
    i {
      margin: 0;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 20px;
    }
  }
  .item {
    display: inline-block;
    width: 49%;
    box-sizing: border-box;
    .value {
      float: right;
    }
  }
  .lastUpdateValuationTime{
    padding: 20px 0 0 0;
    font-size: 14px;
    text-align: center;
  }
}
