.my-net-value-record {
  .explain {
    .item {
      box-sizing: border-box;
      display: inline-block;
      width: 49%;
      padding: 0 20px;
      span {
        float: right;
      }
    }
  }
}
