.page-my-proportion {
  .main-body {
    background-color: #fff;
  }
  .info {
    .item {
      display: inline-block;
      width: 49%;
      font-size: 30px;
    }
  }
  .tag {
    font-size: 22px;
    padding: 0 2px;
    border-radius: 4px;
    margin-left: 20px;
    &.jigou {
      border: 2px solid $red-color;
      background-color: $red-color;
      color: #fff;
    }
    &.laji {
      border: 2px solid $green-color;
      background-color: $green-color;
      color: #fff;
    }
  }
  .title {
    .rate {
      float: right;
    }
  }
  .mt-progress-runway, .mt-progress-progress {
    border-radius: 10px;
  }
  .mt-progress-runway {
    background-color: #ebeef5;
  }
  .mt-progress-progress {
    background-color: #409eff;
  }
}
