.principle-wrap {
  padding: 30px 30px;
  .question {
    font-size: 30px;
    font-weight: 600;
  }
  .answer {
    margin-bottom: 20px;
  }
  .suggest {
    margin: 40px 0;
    p {
      margin: 0 0 20px 0;
      display: inline-block;
      font-size: 26px;
    }
  }
}
