@charset "UTF-8";

//颜色
$green-color: rgb(21, 187, 113);
$red-color: rgb(246, 67, 70);
$yellow-color: rgb(244, 148, 110);
$blue-color: rgb(0, 192, 255);
$purple-color: rgb(132, 7, 189);

$green-color-back: rgba(21, 187, 113, 0.1);
$red-color-back: rgba(246, 67, 70, 0.1);
$yellow-color-back: rgba(244, 148, 110, 0.1);
$blue-color-back: rgba(0, 192, 255, 0.1);
$grey-color-back: rgba(100, 100, 100, 0.1);

$green-color-back-2: rgba(21, 187, 113, 0.2);
$red-color-back-2: rgba(246, 67, 70, 0.2);
$yellow-color-back-2: rgba(244, 148, 110, 0.2);
$blue-color-back-2: rgba(0, 192, 255, 0.2);
$grey-color-back-2: rgba(100, 100, 100, 0.2);

$green-color-back-3: rgba(21, 187, 113, 0.3);
$red-color-back-3: rgba(246, 67, 70, 0.3);
$yellow-color-back-3: rgba(244, 148, 110, 0.3);
$blue-color-back-3: rgba(0, 192, 255, 0.3);
$grey-color-back-3: rgba(100, 100, 100, 0.3);


//二级主题色
$active-color: rgb(18,150,219);
$grey-color: #606266;

$body-color: #fff;
$border-color: rgb(225, 225, 225);
$shadow-color: rgba(225, 225, 225, 0.5);

//字体
$main-text-color: rgb(0, 0, 0);
$dark-text-color: #303133;
$light-text-color: #606266;
$lighter-text-color: #909399;


