.red-text {
  color: $red-color !important;
}

.green-text {
  color: $green-color !important;
}

.yellow-text {
  color: orange !important;
}

.purple-text {
  color: $purple-color !important;
}

.black-text {
  color: #000 !important;
}
